@model List<Asignatura>


@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>
@foreach (var asignatura in Model)
{
    <partial name="AsignaturaSimple" model="asignatura"/>
}

<p><strong>@ViewBag.cosaDinamica</strong></p>
<p><strong>@ViewData["fecha"]</strong></p>