@model Curso


@{
    ViewData["Title"] = "Creación de Curso";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>

<!--<div asp-validation-summary="All"></div>-->
<form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>  
    <div>
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion"/>
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Jornada"></label>
        @Html.DropDownList(
            "Jornada",
            Html.GetEnumSelectList<TiposJornada>(),
            "Seleccione una jornada",
            new { @class = "form-control" }
        )
        <span asp-validation-for="Jornada" class="text-danger"></span>
    </div>
    <input type="submit" value="Crear" class="btn btn-success"/>
    @Html.ActionLink("Cancelar", "Multicurso", "Curso",null, new{@class="btn btn-primary"})
</form>


<p><strong>@ViewData["fecha"]</strong></p>